Source: libcutiesysteminfo
Section: libs
Maintainer: Mathew Dennis <mathewdennis693@gmail.com>
Priority: optional
Build-Depends: pkg-kde-tools,
               cmake,
               qt6-base-dev,
               qt6-declarative-dev,
               pkg-config
Standards-Version: 4.5.1

Package: libcutiesysteminfo
Architecture: any
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: This package contains a system information library for Cutie.

Package: libcutiesysteminfo-dev
Architecture: any
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, libcutiesysteminfo (= ${binary:Version})
Description: This package contains a system information library for Cutie. (Development headers)

Package: qml6-module-cutiesysteminfo
Architecture: any
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, libcutiesysteminfo (= ${binary:Version})
Description: This package contains a system information library for Cutie. (QML module)
